@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-color: #2e2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  display: inline-block;
  margin-top: 100px;
  text-align: center;
  user-select: none;
}

h1::after {
  display: block;
  content: "";
  border-bottom: 5px solid #0088a9;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

h1:hover::after {
  transform: scaleX(1);
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  background-color: #2e2b2b;
  font-family: "Montserrat", sans-serif;
  padding: 30px 0px 150px;
}

.naglowek {
  text-align: center;
}

.reszta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  padding: 120px 0px 120px 0px;
  width: 400px;
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.5);
}

p {
  font-family: AeonikPro-Regular, Arial, sans-serif;
  color: rgb(146, 146, 146);
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  font-size: larger;
}

.stolica {
  width: 350px;
}
