@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  --background: #2e2b2b;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar.active {
  background-color: #1d2624;
}

.podStrony {
  list-style: none;
  background-color: transparent;
}

.podStrony li {
  display: inline-block;
  padding: 0px 20px;
}

.podStrony li a {
  transition: all 0.3s ease 0s;
}

.podStrony li a:hover {
  color: #0088a9;
}

button {
  font-size: 30px;
  padding: 9px 25px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
